@model web.Models.Product
@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_principal.cshtml";
}
<style>
 table{
     text-align:center;
 }
.r
{
    
   color:red;
}
</style>
<br />
 <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#agregar" style="margin-bottom:10px">Nuevo producto</button>
 
 <table class="table table-resposinve-m" id="tabla">
    <thead class="table-dark">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Categoria</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in  ViewBag.lista)
        {
            <tr>
                <td>@item.Codigo</td>
                <td>@item.Nameproduct</td>
                <td>S/. @item.Precio</td>
                <td>@item.Cantidad unidades</td>
                <td>@item.IdcategoriaNavigation.Catname</td> 
                <td>
                    <button onclick="mostrar(@item.Idproduct)" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#borrar">Eliminar </button>
                    <button idproduct="@item.Idproduct" id="p_editar" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editar">Editar </button>
                  
                </td>
            </tr>
        }
    </tbody>
    
</table>

@*modales*@
@*editar producto*@
<div class="modal fade" id="editar" role="dialog">
    <div class="modal-dialog modal-m modal-dialog-centered">
        <div class="modal-content">
            <form method="post" id="p-form">
                 <input id="productID" type="hidden" asp-for="Idproduct"/>
                <div class="modal-header">
                    <h2>Editar producto</h2>
                </div>
                
                <div class="modal-body ">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="container">
                        <div class="form-group">
                            <label asp-for="Codigo" class="control-label"></label>
                            <input id="llenar-p-codigo" asp-for="Codigo" class="form-control" disabled/>
                        </div>

                        <div class="form-group">
                            <label asp-for="Nameproduct" class="control-label"></label>
                            <input id="llenar-p-name" asp-for="Nameproduct" class="form-control"/>
                            <span asp-validation-for="Nameproduct" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-4">
                            <label asp-for="Precio" class="control-label"></label>
                            <input id="llenar-p-precio" asp-for="Precio" class="form-control"/>
                            </div>

                            <div class="col-4">
                             <label asp-for="Cantidad" class="control-label"></label>
                             <input  id="llenar-p-cantidad" asp-for="Cantidad" class="form-control" disabled />
                            </div>

                            <div class="col-2">
                                 <div class="form-check form-switch" style="margin-top:30px;margin-right:50px">
                                  <input class="form-check-input center" type="checkbox" id="flexSwitchCheckDefault" onchange="cambiar()"  >
                                  <label class="form-check-label" for="flexSwitchCheckDefault">Aumentar stock</label>
                                </div>
                            </div>
                        </div>
                        <span  class="text-danger" hidden id="span" style="margin-left: 25%;"></span>
                        <div class="form-group">
                            <label asp-for="Idcategoria" class="control-label"></label>
                            <select id="llenar-p-cat"asp-for="Idcategoria" class="form-control" asp-items="ViewBag.x"></select>
                            <span asp-validation-for="Idcategoria" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="cerrar()">cerrar</button>
                    <button id ="p_actualizar" type="button" class="btn btn-primary" >Actualizar</button>  
                </div>
            </form>
        </div>
    </div>
</div>
@*añadir producto*@
<div class="modal fade" id="agregar" role="dialog">
    <div class="modal-dialog modal-m modal-dialog-centered">
        <div class="modal-content">
            <form method="post" asp-action="SaveProduct">
                <div class="modal-header">
                    <h2>Nuevo Producto</h2>
                </div>
                
                <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="container">
                         <div class="form-group">
                            <label asp-for="Nameproduct" class="control-label"></label>
                            <input asp-for="Nameproduct" class="form-control"/>
                            <span asp-validation-for="Nameproduct" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Precio" class="control-label"></label>
                            <input  asp-for="Precio" class="form-control"/>
                            <span asp-validation-for="Precio" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                             <label asp-for="Cantidad" class="control-label"></label>
                            <input  asp-for="Cantidad" class="form-control"/>
                            <span asp-validation-for="Cantidad" class="text-danger"></span>
                        </div>

                         <div class="form-group">
                             <label asp-for="Idcategoria" class="control-label"></label>
                            <select asp-for="Idcategoria" class="form-control" asp-items="ViewBag.x"></select>
                            <span asp-validation-for="Idcategoria" class="text-danger"></span>
                        </div>
                        </div>
           
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">cerrar</button>
                     <button  type="submit" class="btn btn-primary" >Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*modal eliminar*@
<div class="modal fade" id="borrar" role="dialog">
    <div class="modal-dialog modal-m modal-dialog-centered">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header">
                    <h2>¿Desea eliminar el producto?</h2>
                </div>
                    
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                     <button  id="borrarpro" type="button" class="btn btn-primary" >Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
 <script src="~/js/product.js" asp-append-version="true"></script>
 <script>


 </script>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   
} 

