@model web.Models.Usuario
@{
    ViewData["Title"] = "Usuarios";
    Layout = "~/Views/Shared/_principal.cshtml";
}
@* <p>
     <a asp-action="Create">Crear</a>
 </p>*@
 <button class="btn btn-primary" type="button" id="nuevoCliente" style="margin-bottom:10px; margin-top:10px">Crear</button>
 <div class="container">
  <div class="row">
    <div class="col-12" id="tabla">
        <table class="table table-striped">
            <<thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Documento</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>opciones</th>
                </tr>
            </thead>

            <tbody>
                @foreach(var usuario in ViewBag.lista)
                {

                    <tr>
                        <td>@usuario.Name</td>
                        <td>@usuario.Dni</td>
                        <td>@usuario.Phone</td>
                        <td>@usuario.Correo</td>
                        <td>@usuario.Rol</td>
                         <td>
                             @*<a asp-controller="Usuario" asp-action="ObtenerDatos" asp-route-id=@usuario.Iduser>Editar</a>
                             <a asp-controller="Usuario" asp-action="ObtenerDatos" asp-route-id=@usuario.Iduser>Eliminar</a>*@
                             <button id="obtener" type="button" class="btn btn-warning" iduser="@usuario.Iduser" onclick="FillId(@usuario.Iduser)">Editar</button>
                             <button id="eliminar" type="button" class="btn btn-danger" iduser="@usuario.Iduser" onclick="FillId(@usuario.Iduser)">Eliminar</button>
                         </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div id="divCreate" style=" border-left: solid black">
        <h2 style="text-align:center" id="title">Ingresar usuario </h2>
    <form id="formulario" method="post">
           <input type="hidden" asp-for="Iduser" id="valorIdUser" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" id="InputName"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input type="number" asp-for="Dni" class="form-control" id="InputDni"/>
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input type="number" asp-for="Phone" class="form-control" id="InputPhone"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input type="email" asp-for="Correo" class="form-control" id="InputEmail"/>
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Rol" class="control-label"></label>
                <select asp-for="Rol" class="form-control" >
                      <option value="Administrador">Administrador</option>
                      <option value="Asesor de Ventas">Asesor de Ventas</option>
                      <option value="Recursos Humanos">Recursos Humanos</option>
                      <option value="Otros">Otros</option>
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>

             <div class="d-grid gap-2" style="margin-top:10px">
              <button class="btn btn-outline-success" type="button" id="save">Guardar</button>
              <button class="btn btn-outline-danger" type="button" id="cerrar">Cerrar</button>
            </div>

        </form>
    </div>

  </div>
</div>
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
 <script src="~/js/user.js" asp-append-version="true"></script>
