@model Product
@{
    ViewData["Title"] = "Ventas";
    Layout = "~/Views/Shared/_principal.cshtml";
}
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button{
        -webkit-appearance:none;
    }
</style>
<br />
<a asp-controller="Sale" asp-action="Crear" type="button" class="btn btn-outline-secondary" style="margin-bottom:10px">NUEVA VENTA</a>


<br />
<table class="table table-bordered table-resposinve-m" style="text-align: center;">
   <thead class="table-dark">
        <tr>
            <th>Cliente</th>
            <th>Items</th>
            <th>Total</th>
            <th>Comprobante</th>
            <th>Fecha</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in  ViewBag.datos)
        {
           @if(@item.Visibilidad==true)
            {
                 <tr>
                <td>@item.IdcustomerNavigation.Namecustomer</td>
                <td>@item.Items</td>
                <td>S/.@item.Total</td>
                <td>@item.Comprobante</td>
                <td>@item.Fecha</td>
                <td>
                    @*<buttom id="visible" idsale="@item.IdSale" type="button" class="btn btn-light">
                    <i class="bi bi-eye-slash-fill"></i>    
                    </buttom>*@
                    <buttom id="ver" idsale="@item.IdSale" type="button" class="btn btn-info" >
                    <i class="bi bi-list"></i> Detalle
                    </buttom>
                    <buttom id="eliminar" idsale="@item.IdSale" type="button" class="btn btn-danger">
                    <i class="bi bi-x-lg"></i> Eliminar  
                    </buttom>

                </td>
                </tr>
            }
           
        }
    </tbody>
    
</table>

<div class="modal" tabindex="-1" id="modalDetalle">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalle de la venta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           <table class="table">
                <thead class="table-dark">
                  <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>                                  
                  </tr>
                </thead>
                <tbody id="body">                               
                   
                </tbody>
            </table>
      </div>
    </div>
  </div>
</div>

 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>


 $(document).on('click','#ver',function()
 {
     var id=$(this).attr('idsale');

     $('#modalDetalle').modal('show')
     let body =document.getElementById('body')
     body.innerHTML=""
    
     $.ajax({
        type:"Post",
        url:"Sale/Ver",
        data:{id:id},
        success:function(r)
        {

            for (let i of r) {
            console.log(i)
                 $.ajax({
                    type:"Get",
                    url:"Sale/VerProducto",
                    data:{id:i.idProduct},
                        success: function(q) {

                            for(let o of q)
                            {
                            body.innerHTML+=`
                            <tr>
                            <td>${o.nameproduct}</td>
                            <td>${i.cantidad}</td>
                            <td>${i.precio}</td>
                            </tr>
                            `
                            }
                           
                        }
                    })
            }

           
        }
     })
 })
 $(document).on('click','#eliminar',function()
 {
     var id=$(this).attr('idsale');
     $.ajax({
     type:"Post",
     url:"Sale/Ex",
     data: {id:id},
         success: function(f) {
             window.location.reload();
         }
        })
 })

 $(document).on('click','#visible',function()
 {
     var id=$(this).attr('idsale');
     console.log(id)
    
     $.ajax({
              type:"Post",
              url:"Sale/Eliminar",
              data:{id:id},
              success:function(r)
              {
                 window.location.reload();
              }
              })
 })
</script>